{% extends 'base.html.twig' %}



{% block title %}Hello LoginController!{% endblock %}

{% block body %}

    <input class="btn btn-success mt-2" type="submit" value="Créer le compte">
    <div>
        <a href="/login" class="btn btn-link">Se connecter</a>
    </div>
{% endblock %}
