{% extends 'base.html.twig' %}

{% block title %}Menu!{% endblock %}

{% block body %}


        <div class="menu">

            <h2 class="menu-group-heading d-flex justify-content-around flex-wrap container mt-5">Menu
            </h2>

                 <div class="menu-group">
                     {% for menu in menus %}
                    <div class="menu-item ">
                        {% if menu.photo %}
                        <img class="menu-item-image" src="{{ asset('uploads/' ~ menu.photo) }}" alt="">
                        {% endif %}
                        <div class="menu-item-text">
                            {%  if menu.title %}
                            <h3 class="menu-item-heading">
                                <span class="menu-item-name">{{ menu.title }}</span>
                                {%  endif %}
                                {% if menu.price %}
                                <span class="menu-item-price">{{ menu.price }}€</span>
                            </h3>
                            {% endif %}
                            {% if menu.description %}
                            <p class="menu-item-description">
                                {{ menu.description }}
                            </p>
                            {% endif %}
                        </div>

                    </div>
                     {% endfor %}
                 </div>
            <div class="menu">
                 <h2 class="menu-group-heading d-flex justify-content-around flex-wrap container mt-5">
                    Dessert
                </h2>
            </div>

{% endblock %}